Package: com.ginsu.comet-rootless
Name: Comet
Architecture: iphoneos-arm64
Description: A SwiftUI Prefs Framework
Maintainer: Ginsu
Author: Ginsu
Section: Tweaks
Depends: dev.theos.orion14, firmware (>= 14.0)
Version: 1.0.1

